@import "./variable.scss";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Site main css
@import "./site.scss";

//home page
@import "./homepage.scss";

//about page
@import "./about.scss";

//about page
@import "./quote.scss";

//gallery page
@import "./gallery.scss";

//contact page
@import "./contact.scss";

//product page
@import "./product.scss";
